
<ng-template appAnchorHost></ng-template>
<div class="mt-3 text-center" algin="center">
    <button class="mr-3" type="button" *ngIf="data?.btnClose" mat-raised-button mat-dialog-close (click)="data?.btnClose?.callBack()">{{data?.btnClose?.label || "Đóng"}}</button>
    <button *ngIf="data?.btnOk" mat-raised-button mat-dialog-close (click)="data?.btnOk?.callBack()" [color]="data?.type == 'Information' ? 'primary' :'warn' ">{{data?.btnOk?.label || "Đồng ý"}}</button>
</div>