<div class="lesson">
  <h1>Kiểm tra</h1>
  <div class="top-bar d-flex align-items-center justify-content-between mx-auto">
    <div id="search-bar" class="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper w-100 mb-0" id="search-input">
          <input type="text" placeholder="Tìm kiếm bài học …" class="border-0 w-85">
          <i class="fas fa-search" aria-hidden="true"></i>
        </label>
      </div>
    </div>
    <div class="right-bar d-flex align-items-center">
      <a href="" class="btn-filter d-block">
        <img src="./assets/images/filter.png" alt="">
      </a>
      <div class="dropdown">
        <span>Xếp theo:</span>
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tên bài học
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="display-item">
        <a href="">
          <img src="./assets/images/component-icon-ic-kanban.png" alt="">
        </a>
        <a href="">
          <img src="./assets/images/component-icon-ic-list.png" alt="">
        </a>
        <a href="" class="active">
          <img src="./assets/images/component-icon-ic-spreadsheets.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row test-result">
    <div class="col-12 text-center">
      <img src="./assets/images/check.png" alt="">
      <h3 class="check">Chưa hoàn thành</h3>
      <p>Chúc mừng bạn đã hoàn thành bài kiểm tra</p>
      <div class="text-center">
        <button type="button" class="btn btn-complete pl-4 pr-4">Kết thúc</button>
      </div>
    </div>
  </div>
</div>
