<h2 class="mb-4">Tài liệu sản phẩm</h2>

<div class="w-100 d-flex flex-row-reverse mb-3">

  <button mat-raised-button color="primary" routerLink="/admin/product-document/create">
    <mat-icon>add</mat-icon> Thêm mới
  </button>
</div>

<mat-accordion class="mt-3">
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bộ lọc                      
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="w-100">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<table mat-table matSort [dataSource]="dataSource?.items" class="w-100">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
    <td mat-cell *matCellDef="let document">{{document.name}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mô tả</th>
    <td mat-cell *matCellDef="let document">{{document.description}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th class="action" mat-header-cell *matHeaderCellDef mat-sort-header>
      <p class="text-center">Thao tác</p>
    </th>
    <td class="action" mat-cell *matCellDef="let document">
      <button mat-mini-fab aria-label="Chỉnh sửa" color="primary" (click)="edit(document.id)">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Xoá" class=" ml-3" (click)="openDialogForDelete(document)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let document; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [length]="dataSource?.totalCount || 0" [pageSizeOptions]="[1,10,20]"></mat-paginator>
