<h2 class="mb-4">Thêm tài liệu sản phẩm</h2>
<form class="row" [formGroup]="documentForm" (ngSubmit)="save()">

  <div class="w-100 d-flex justify-content-between mb-3">
    <button type="button" mat-button routerLink="/admin/product-document">
      <mat-icon>arrow_back_ios</mat-icon> Quay lại
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="documentForm.invalid">
      <mat-icon>save</mat-icon> Lưu
    </button>
  </div>
<div class="col-12">
  <mat-form-field class="w-100">
    <mat-label>Tên tài liệu
    </mat-label>
    <input matInput formControlName="name" required/>
  </mat-form-field>
</div>
  
  <div class="col-sm-6">
    <ft-upload-image label="Icon" formControlName="thumbnailId"></ft-upload-image>
  </div>
  <mat-form-field class="col-sm-12">
    <mat-label>Giới thiệu</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="col-sm-12">
    <p>Nội dung</p>
    <ft-upload-file class="d-block mb-3" formControlName="fileContentId"></ft-upload-file>
    <ft-editor formControlName="content"></ft-editor>
  </div>
</form>
