<div class="profile">
  <h1>Thông tin cá nhân</h1>
  <div class="row profile-items">
    <div class="col-12">
      <div class="avarta text-center">
        <img src="./assets/images/info-img-205x205.png" alt="" class="avt-user">
        <a class="d-block change-box" href="#">
          <img src="./assets/images/change-avt.png" alt="">
          <p>Đổi ảnh đại diện</p>
        </a>
      </div>
      <h4 class="text-center">NGUYỄN GIANG</h4>

      <form class="d-flex flex-wrap justify-content-between">
        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" placeholder="" value="0986xxxxxx">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="" value="nguyengiang@gmail.com">
        </div>
        <div class="form-group">
          <label for="distributor">Thuộc nhà phân phối</label>
          <input type="text" class="form-control" id="distributor" placeholder="" value="OLLIN">
        </div>
        <div class="form-group">
          <label for="test">Bài kiểm tra đã thực hiện</label>
          <input type="text" class="form-control" id="test" placeholder="" value="03">
        </div>
      </form>

    </div>
  </div>
</div>
