<div class="document text-center">
  <h1>Tài liệu - Thông tin sản phẩm</h1>
  <div class="top-bar d-flex align-items-center mx-auto">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Danh mục
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div id="search-bar" class="search-bar w-100">
      <div class="item item-input-inset">
        <label class="item-input-wrapper w-100 mb-0" id="search-input">
          <input type="text" placeholder="Thông tin tìm kiếm …" class="border-0 w-85">
          <i class="fas fa-search" aria-hidden="true"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="recommend">
    <p>Gợi ý:</p>
    <span>Quy trình làm việc</span>
    <span>Nguyên tắc</span>
  </div>
  <div class="row list-items text-left">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" [routerLink]="'/document/detail'">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block"  href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <a class="item d-block" href="">
        <img src="./assets/images/asset-3.png" alt="" class="mx-auto">
        <h5>Sữa Brand A</h5>
        <p>First steps to join this program <br>
          You must Login & Register</p>
      </a>
    </div>
  </div>
</div>
