.header {
	img {
		margin-left: 16vw;
		padding-top: 7px;
	}
}
.login {
	height: 100vh;
	.login-content {
		box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.07);
		border-radius: 45px;
		.login-form {
			box-shadow: 3px -5px 40px 0 rgba(205, 205, 212, 0.1);
			background-color: #fff;
			form {
				p {
					font-family: Gilroy-Bold;
					font-size: 10.7px;
					color: #b5b5be;
					letter-spacing: 0.77px;
					margin-bottom: 0;
				}
				h5 {
					font-family: Quicksand-Bold;
					color: #171725;
					margin-top: 2rem;
				}
				a {
					font-family: Quicksand-Regular;
					font-size: 0.88571429rem;
					color: #50b5ff;
					line-height: 1.07142857rem;
					text-decoration: none;
				}
				i {
					color: #b5b5be;
				}
				label {
					font-family: Quicksand-Regular;
					font-size: 10.7px;
					color: #d5d5dc;
					margin-bottom: 0.25rem;
				}
				input {
					font-family: Quicksand-Regular;
					font-size: 14.2px;
					color: #44444f;
					letter-spacing: 0.1px;
					width: 90%;
					&:focus {
						outline: none;
					}
				}
				.row-input {
					border-bottom: 1px solid #e2e2ea;
					color: #696974;
				}
				.remember {
					font-family: Quicksand-Regular;
					font-size: 12.4px;
					letter-spacing: 0.09px;
					color: #696974;
					display: block;
					position: relative;
					cursor: pointer;
					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
						&:checked ~ .checkmark &:after {
							display: block;
						}
					}
					.checkmark {
						position: absolute;
						top: 0;
						left: 2px;
						height: 1rem;
						width: 1rem;
						border: 0.07142857rem solid #b5b5be;
						border-radius: 50%;
						background-color: #fff;
						&:after {
							content: '';
							background: url('../images/login/ic-check.svg') no-repeat;
							background-size: 100% 100%;
							width: 1rem;
							height: 1rem;
							position: absolute;
							z-index: 1000;
							top: -1px;
							left: -1px;
						}
					}
				}
				.checkmark {
					&:after {
						content: "";
						position: absolute;
						display: none;
					}
				}
			}
			.log-in {
				font-family: Quicksand-Medium;
				font-size: 1.14285714rem;
				color: #fff;
				background-color: #50B5FF;
				border-radius: 22.2px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.img-login {
			background-color: transparent !important;
			max-width: 300px;
		}
	}
	.h-vh {
		height: 100vh;
	}
	.color-left {
		background-color: #fff;
	}
	.color-right {
		position: relative;
		background-color: #ffffff;
	}
}
@media screen and (min-width: 320px) {
	.login {
		background-color: #fff;
		.login-content {
			width: 100%;
			.img-login {
				min-height: 80vw;
				background: url('../images/login/team-work.png') no-repeat bottom center;
				background-size: auto 90%;
			}
			.login-form {
				padding-left: 2rem;
				padding-right: 2rem;
				form {
					p {
						padding-top: 2.4rem;
					}
					.remember {
						line-height: 11px;
						padding-left: calc(18px);
					}
				}
				.log-in {
					margin-bottom: 1rem;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.login {
		.login-content {
			width: 68.625vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.img-login {
				min-height: 26vw;
				background: url('../images/login/team-work.png') no-repeat center center;
				background-size: contain;
				border-top-left-radius: 44.4px;
				border-bottom-left-radius: 44.4px;
			}
			.login-form {
				border-top-right-radius: 44.4px;
				border-bottom-right-radius: 44.4px;
				padding-left: 10%;
				padding-right: 10%;
				height: 100%;
				form {
					p {
						padding-top: 1.36363636rem;
					}
					h5 {
						font-size: 18px;
					}
					.remember {
						line-height: 13px;
						padding-left: calc(27px);
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	.login {
		.login-content {
			.login-form {
				form {
					p {
						padding-top: 1.57142857rem;
					}
					h5 {
						font-size: 24.5px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.login {
		.login-content {
			.login-form {
				form {
					p {
						padding-top: 3rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1440px) {
	.login {
		.login-content {
			.login-form {
				form {
					p {
						padding-top: 4.42857143rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1600px) {
	.login {
		.login-content {
			.login-form {
				form {
					p {
						padding-top: 5.14285714rem;
					}
					.remember {
						line-height: 15px;
					}
				}
			}
		}
	}
}
