h1 {
  font-family: Quicksand-Bold;
  font-size: 36px;
  color: #171725;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
}
h2 {
  font-family: Quicksand-Bold;
  font-size: 32px;
  color: #171725;
}
h3 {
  font-family: Quicksand-Bold;
  font-size: 24px;
  color: #171725;
}
h4 {
  font-family: Quicksand-Bold;
  font-size: 24px;
  color: #009fe3;
}
.document .top-bar {
  width: 45%;
  background-color: #fafafb;
  border-radius: 15px;
  padding: 5px 5px 5px 10px;
}
.document .top-bar .dropdown {
  background-color: #f1f1f5;
  border-radius: 7px;
  margin-right: 16px;
}
.document .top-bar .dropdown .dropdown-toggle {
  font-family: Quicksand-Medium;
  font-size: 12px;
  color: #92929d;
}
.document .top-bar .dropdown .dropdown-toggle::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #92929d;
  border: none;
}
.document .top-bar .search-bar input {
  width: calc(100% - 44px);
  font-family: Quicksand-Regular;
  font-size: 14px;
  color: #92929d;
  background-color: unset;
}
.document .top-bar .search-bar input:focus {
  outline: none;
}
.document .top-bar .search-bar i {
  padding: 12px 14px;
  color: #fff;
  background-color: #009fe3;
  border-radius: 10px;
}
.document .recommend {
  margin-top: 24px;
}
.document .recommend p {
  font-family: Quicksand-Regular;
  font-size: 14px;
  color: #92929d;
  display: inline-block;
  margin-right: 8px;
}
.document .recommend span {
  font-family: Quicksand-Medium;
  font-size: 10px;
  color: #009fe3;
  padding: 6.5px 12px;
  background-color: #d9edf5;
  border-radius: 5px;
  margin-right: 8px;
}
.document .list-items {
  margin-top: 64px;
}
.document .list-items .item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.07);
  padding: 20px;
  margin-bottom: 48px;
}
.document .list-items .item h5 {
  font-family: Quicksand-Bold;
  font-size: 20px;
  color: #171725;
  position: relative;
}
.document .list-items .item h5:after {
  content: " ";
  width: 16px;
  height: 16px;
  background: url('../images/ic-chevron-right.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
.document .list-items .item img {
  width: 70%;
  display: block;
  margin-bottom: 16px;
}
.document .list-items .item p {
  font-family: Quicksand-Regular;
  font-size: 14px;
  color: #b5b5be;
}
.lesson .lesson-items {
  margin-top: 40px;
}
.lesson .lesson-items .item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.07);
  padding: 20px;
  margin-bottom: 48px;
}
.lesson .lesson-items .item h5 {
  font-family: Quicksand-Bold;
  font-size: 20px;
  color: #171725;
}
.lesson .lesson-items .item img {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}
.lesson .lesson-items .item p {
  font-family: Quicksand-Regular;
  font-size: 14px;
  color: #b5b5be;
}
.lesson .lesson-items .item span {
  font-family: Quicksand-Medium;
  font-size: 10px;
  color: #8e8f93;
}
.lesson .lesson-items .practice-item {
  border: 1px solid #f1f1f5;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 16px;
}
.lesson .lesson-items .practice-item .form-check-inline {
  width: 45%;
  margin-bottom: 24px;
}
.lesson .lesson-items .practice-item .form-check-inline label {
  font-family: Quicksand-Medium;
  font-size: 14px;
  color: #44444f;
}
.lesson .lesson-items .practice-item h5 {
  font-family: Quicksand-Bold;
  font-size: 14px;
  color: #44444f;
}
.lesson .lesson-items .practice-item p {
  font-family: Quicksand-Regular;
  font-size: 15px;
  color: #8e8f93;
  margin-bottom: 40px;
}
.event-items {
  padding-top: 50px;
  margin-top: 20px;
  background-color: #fcfcfc;
}
.event-items .card {
  margin-top: 40px;
  border: 1px solid #e2e2ea;
  border-radius: 23px;
  padding: 0 5px;
  background-color: #fcfcfc;
}
.event-items .card .table {
  background-color: #fcfcfc;
  border-radius: 23px;
  border-collapse: separate;
  border-spacing: 0 8px;
}
.event-items .card .table thead tr {
  border-radius: 20px;
}
.event-items .card .table tbody tr {
  background-color: #fff;
}
.event-items .card .table tbody .add-bdrd td:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.event-items .card .table tbody .add-bdrd td:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.event-items .card .table tbody tr.add-bdrd > td {
  margin-bottom: 8px;
}
.event-items .card .table th {
  font-family: Quicksand-Bold;
  font-size: 18px;
  color: #696974;
  letter-spacing: 0.11px;
  border: unset;
}
.event-items .card .table td {
  font-family: Quicksand-Regular;
  font-size: 17px;
  color: #171725;
  letter-spacing: 0.12px;
  border: unset;
}
.profile-items .avarta {
  position: relative;
  margin-bottom: 20px;
}
.profile-items .avarta .avt-user {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  border: 3px solid #009fe3;
}
.profile-items .avarta .change-box {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-items .avarta .change-box p {
  font-family: Quicksand-Light;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.1px;
  margin-bottom: 0;
  opacity: 0.5;
}
.profile-items form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.profile-items form .form-group {
  width: 45%;
  margin-bottom: 2rem;
}
.profile-items form .form-group label {
  font-family: Quicksand-Regular;
  font-size: 12px;
  color: #92929d;
  margin-bottom: 0;
}
.profile-items form .form-group input {
  font-family: Quicksand-Medium;
  font-size: 17px;
  color: #44444f;
  border: unset;
  border-bottom: 1px solid #e2e2ea;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.5rem;
  max-height: 26px;
}
.noti .noti-items {
  margin-top: 40px;
}
.noti .noti-items .items {
  border-bottom: 1px solid #dfdfdf;
}
.noti .noti-items .items p {
  display: inline-block;
  font-family: Quicksand-Regular;
  font-size: 17px;
  color: #171725;
  letter-spacing: 0.12px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.noti .noti-items .items .content-noti {
  margin-left: 72px;
}
.test-result h3 {
  font-family: Quicksand-SemiBold;
  font-size: 28px;
  margin-top: 12px;
}
.test-result .check {
  color: #0bc763;
}
.test-result .uncheck {
  color: #ff8260;
}
.test-result p {
  font-family: Quicksand-Regular;
  font-size: 15px;
  color: #8e8f93;
}
.top-bar {
  width: 100%;
  border-radius: 15px;
}
.top-bar .search-bar {
  width: 45%;
  background-color: #fafafb;
  border-radius: 15px;
}
.top-bar .search-bar input {
  width: calc(100% - 44px);
  font-family: Quicksand-Regular;
  font-size: 14px;
  color: #92929d;
  background-color: unset;
  padding-left: 20px;
}
.top-bar .search-bar input:focus {
  outline: none;
}
.top-bar .search-bar i {
  padding: 12px 14px;
  color: #fff;
  background-color: #009fe3;
  border-radius: 10px;
}
.right-bar .dropdown {
  font-family: Quicksand-Medium;
  font-size: 14px;
  color: #92929d;
  margin-right: 16px;
  padding: 0 0 0 12px;
  border: 1px solid #f1f1f5;
  border-radius: 10px;
}
.right-bar .dropdown .dropdown-toggle::after {
  color: #92929d;
}
.right-bar .dropdown button {
  font-size: 14px;
  color: #171725;
  position: relative;
}
.right-bar .display-item {
  border: 1px solid #f1f1f5;
  border-radius: 10px;
}
.right-bar .display-item a {
  display: inline-block;
  padding: 6px;
}
.right-bar .display-item a:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-bar .display-item a:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-bar .display-item a:not(:last-child) {
  border-right: 1px solid #f3f3f5;
}
.right-bar .display-item .active {
  background-color: #92929d;
}
.right-bar .display-item .active img {
  filter: brightness(0) invert(1);
}
.right-bar .btn-filter {
  margin-right: 20px;
}
.btn-complete {
  background-color: #50b5ff;
  font-family: Quicksand-Bold;
  font-size: 12px;
  color: #fff;
  padding: 9px 15px;
  border-radius: 10px;
  margin-top: 40px;
}
.btn-practice {
  background-color: #ffc542;
  margin-left: 16px;
  font-family: Quicksand-Bold;
  font-size: 12px;
  color: #fff;
  padding: 9px 15px;
  border-radius: 10px;
  margin-top: 40px;
}
.btn-return {
  background-color: #f1f1f5;
  margin-right: 16px;
  color: #696974;
  font-family: Quicksand-Bold;
  font-size: 12px;
  color: #fff;
  padding: 9px 15px;
  border-radius: 10px;
  margin-top: 40px;
}
