<mat-sidenav-container class="container p-0">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
    <ft-sidenav></ft-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ft-layout-header (menuClick)="toggleMenu()" [showBtn]="!opened"></ft-layout-header>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
