<div class="event">
  <h1>CME - Sự kiện</h1>
  <div class="top-bar d-flex align-items-center justify-content-between mx-auto">
    <div id="search-bar" class="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper w-100 mb-0" id="search-input">
          <input type="text" placeholder="Tìm kiếm sự kiện …" class="border-0 w-85">
          <i class="fas fa-search" aria-hidden="true"></i>
        </label>
      </div>
    </div>
    <div class="right-bar d-flex align-items-center">
      <div class="dropdown">
        <span>Chọn tháng:</span>
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tháng 10
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row event-items">
    <div class="col-12">
      <h3 class="text-center">Danh sách sự kiện diễn ra theo tháng</h3>
      <div class="card">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Tên sự kiện</th>
              <th scope="col">Ngày</th>
              <th scope="col">Nội dung chi tiết</th>
            </tr>
          </thead>
          <tbody>
            <tr class="add-bdrd">
              <td>Gặp mặt</td>
              <td>17/11/2020</td>
              <td>Gặp mặt HCP</td>
            </tr>
            <tr class="add-bdrd">
              <td>Hỏi đáp</td>
              <td>24/11/2020</td>
              <td>Hỏi đáp HCP</td>
            </tr>
            <tr class="add-bdrd">
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
