
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body,
html {
  background-color: #fafafb;
  color: #000;
}
button:focus {
  outline: none !important;
}
input:focus {
  outline: none;
}
.rounded-30 {
  border-radius: 30px;
}
.width-72 {
  width: 72px;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.font-size-18 {
  font-size: 1.28571429rem !important;
}
.img-fluid {
  max-width: 100% !important;
  height: auto;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.clearfix {
  clear: both;
}
.mt-16 {
  margin-top: 1.14285714rem;
}
.mt-32 {
  margin-top: 2.28571429rem;
}
.w-15 {
  width: 15%;
}
.w-35 {
  width: 35%;
}
.w-45 {
  width: 45%;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.h-80 {
  height: 80%;
}
.bg-none {
  background: unset !important;
}
.fs-12 {
  font-size: 0.85714286rem !important;
}
.btn-scroll {
  font-family: Poppins-SemiBold;
  font-size: 1rem;
  background-color: #005b94;
}
.ml-auto {
  margin-left: auto !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.lh-20 {
  line-height: 20px !important;
}
.lh-40 {
  line-height: 40px !important;
}
a:hover {
  text-decoration: none;
}
.text-decoration-underline {
  text-decoration: underline;
}
@keyframes animateShopCoin {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateShopCoin {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes hoverlink {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}
@media screen and (min-width: 320px) {
  body,
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 480px) {
  
}
@media screen and (min-width: 768px) {
  body,
  html {
    font-size: 11px;
  }
  .w-55 {
    width: 35% !important;
  }
}
@media screen and (min-width: 1024px) {
  body,
  html {
    font-size: 12px;
  }
  
}
@media screen and (min-width: 1280px) {
  body,
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1600px) {
  body,
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  body,
  html {
    font-size: 15px;
  }
}

table .action{
  width: 120px;
}