.header img{
    margin-left: 16vw;
    padding-top: 7px;
}
.login {
    height: 100vh;
  }
  .login .login-content{
    box-shadow: 0px 0px 34px -15px rgb(10 0 0 / 87%);
    border-radius: 45px;
  }
  .login .h-vh {
    height: 100vh;
  }
  .login .color-left {
    background-color: #fff;
  }
  .login .color-right {
    position: relative;
    background-color: #ffffff;
  }
  .login .login-content .login-form {
    box-shadow: 3px -5px 40px 0 rgba(205, 205, 212, 0.1);
    background-color: #fff;
  }
  .login .login-content .login-form form p {
    font-family: Gilroy-Bold;
    font-size: 10.7px;
    color: #b5b5be;
    letter-spacing: 0.77px;
    margin-bottom: 0;
  }
  .login .login-content .login-form form h5 {
    font-family: Quicksand-Bold;
    color: #171725;
    margin-top: 2rem;
  }
  .login .login-content .login-form form a {
    font-family: Quicksand-Regular;
    font-size: 0.88571429rem;
    color: #50b5ff;
    line-height: 1.07142857rem;
    text-decoration: none;
  }
  .login .login-content .login-form form i {
    color: #b5b5be;
  }
  .login .login-content .login-form form label {
    font-family: Quicksand-Regular;
    font-size: 10.7px;
    color: #d5d5dc;
    margin-bottom: 0.25rem;
  }
  .login .login-content .login-form form input {
    font-family: Quicksand-Regular;
    font-size: 14.2px;
    color: #44444f;
    letter-spacing: 0.1px;
    width: 90%;
  }
  .login .login-content .login-form form input:focus {
    outline: none;
  }
  .login .login-content .login-form form .row-input {
    border-bottom: 1px solid #e2e2ea;
    color: #696974;
  }
  .login .login-content .login-form form .remember {
    font-family: Quicksand-Regular;
    font-size: 12.4px;
    letter-spacing: 0.09px;
    color: #696974;
    display: block;
    position: relative;
    cursor: pointer;
    /* Create a custom checkbox */
  }
  .login .login-content .login-form form .remember input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .login .login-content .login-form form .remember .checkmark {
    position: absolute;
    top: 0;
    left: 2px;
    height: 1rem;
    width: 1rem;
    border: 0.07142857rem solid #b5b5be;
    border-radius: 50%;
    background-color: #fff;
  }
  .login .login-content .login-form form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .login .login-content .login-form form .remember input:checked ~ .checkmark:after {
    display: block;
  }
  .login .login-content .login-form form .remember .checkmark:after {
    content: '';
    background: url('../images/login/ic-check.svg') no-repeat;
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 1000;
    top: -1px;
    left: -1px;
  }
  .login .login-content .login-form .log-in {
    font-family: Quicksand-Medium;
    font-size: 1.14285714rem;
    color: #fff;
    background-color: #50B5FF;
    border-radius: 22.2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login .login-content .img-login{
      background-color: transparent !important;
      max-width: 300px;
  }
  @media screen and (min-width: 320px) {
    .login {
      background-color: #fff;
    }
    .login .login-content {
      width: 100%;
    }
    .login .login-content .img-login {
      min-height: 80vw;
      background: url('../images/login/team-work.png') no-repeat bottom center;
      background-size: auto 90%;
    }
    .login .login-content .login-form {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .login .login-content .login-form form p {
      padding-top: 2.4rem;
    }
    .login .login-content .login-form form .remember {
      line-height: 11px;
      padding-left: calc(18px);
    }
    .login .login-content .login-form .log-in {
      margin-bottom: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    .login .login-content {
      width: 68.625vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .login .login-content .img-login {
      min-height: 26vw;
      background: url('../images/login/team-work.png') no-repeat center center;
      background-size: contain;
      border-top-left-radius: 44.4px;
      border-bottom-left-radius: 44.4px;
    }
    .login .login-content .login-form {
      border-top-right-radius: 44.4px;
      border-bottom-right-radius: 44.4px;
      padding-left: 10%;
      padding-right: 10%;
    }
    .login .login-content .login-form form p {
      padding-top: 1.36363636rem;
    }
    .login .login-content .login-form form h5 {
      font-size: 18px;
    }
    .login .login-content .login-form form .remember {
      line-height: 13px;
      padding-left: calc(27px);
    }
  }
  @media screen and (min-width: 1024px) {
    .login .login-content .login-form form p {
      padding-top: 1.57142857rem;
    }
    .login .login-content .login-form form h5 {
      font-size: 24.5px;
    }
  }
  @media screen and (min-width: 1280px) {
    .login .login-content .login-form form p {
      padding-top: 3rem;
    }
  }
  @media screen and (min-width: 1440px) {
    .login .login-content .login-form form p {
      padding-top: 4.42857143rem;
    }
  }
  @media screen and (min-width: 1600px) {
    .login .login-content .login-form form p {
      padding-top: 5.14285714rem;
    }
    .login .login-content .login-form form .remember {
      line-height: 15px;
    }
  }
  