<div class="document text-center">
  <h1>Tài liệu - Thông tin sản phẩm</h1>
  <div class="top-bar d-flex align-items-center mx-auto">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Danh mục
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div id="search-bar" class="search-bar w-100">
      <div class="item item-input-inset">
        <label class="item-input-wrapper w-100 mb-0" id="search-input">
          <input type="text" placeholder="Thông tin tìm kiếm …" class="border-0 w-85">
          <i class="fas fa-search" aria-hidden="true"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="recommend">
    <p>Gợi ý:</p>
    <span>Quy trình làm việc</span>
    <span>Nguyên tắc</span>
  </div>
  <hr>
  <div class="row list-items text-left">
    <div class="col-3 offset-1">
      <img src="./assets/images/asset-3.png" alt="" class="img-fluid mx-auto">
    </div>
    <div class="col-7">
      <h2>Sữa Brand A</h2>
      <p>
        Milk is a highly nutritious liquid formed in the mammary glands of mammals to sustain their newborns during their first months of life.
      </p>
      <p>This article focuses on cow’s milk.</p>
      <p>These foods are referred to as dairy or milk products and are a major part of the modern diet.</p>
    </div>
    <div class="col-12 mt-4">
      <p>Milk is one of the most nutritious drinks in the world.</p>
      <p>It’s not only rich in high-quality protein but also an excellent source of vitamins and minerals, such as calcium, vitamin B12, and riboflavin.</p>
      <p>For this reason, it may cut your risk of osteoporosis and reduce blood pressure.</p>
      <p>Still, some people are allergic to milk proteins or intolerant to milk sugar (lactose). Milk has also been linked to acne and an increased risk of prostate cancer.</p>
      <p>At the end of the day, moderate consumption of cow’s milk is healthy for most people — but you should avoid drinking it in excess.</p>
    </div>
  </div>
</div>
