/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Quicksand-Regular !important; overflow: hidden; }
.f-14{
  font-size: 14px !important;
}

.mat-dialog-title mat-icon {
  font-size: 30px;
  margin-right: 15px;
}

.mat-dialog-content.message {
  margin: 21px 5px 30px 5px !important;
  font-family: 'Quicksand-Bold';
}