<mat-toolbar class="header-box-shadow bg-white justify-content-between border-bottom">
  <div class="">
    <button *ngIf="showBtn" mat-icon-button (click)="menuBtnClick()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="ml-91" src="./assets/images/danone-logo.png" />
  </div>
  <div class="inform-container">
    <button mat-icon-button type="button">
      <img src="./assets/images/component-icon-ic-notification.png" />
    </button>
    <button mat-icon-button type="button" (click)="logout()">
      <img src="./assets/images/logout.png" />
    </button>
  </div>
</mat-toolbar>
