<input type="file" #inputFile class="d-none" (change)="fileChange($event)" accept="image/*" />

<div class="d-flex align-items-center">
    <button mat-raised-button type="button" color="primary" class="mr-3" (click)="inputFile.click()">
        <mat-icon>cloud_upload</mat-icon> {{label || 'Hình'}}
    </button>
    <img [ngStyle]="{'width.px': maxWidth || '150'}" [src]="getMediaById(uploadForm.value.imageId)" onerror="this.src = '/assets/images/unnamed.png' " />
</div>
<mat-progress-bar *ngIf="isProcessing" class="mt-3" mode="indeterminate"></mat-progress-bar>