<div class="container-login">
    <div class="header">
        <img src="./assets/images/danone-logo.png" />
    </div>
    <div class="login d-flex w-100 mt-3" id="login">
        <div class="container-fluid pl-0 pr-0">
            <div class="row h-vh d-none d-md-flex ml-0 mr-0">
                <div class="col-6 color-left pl-0 pr-0">

                </div>
                <div class="col-6 color-right pl-0 pr-0">

                </div>
            </div>
            <div class="row login-content">
                <div class="col-12 col-md-6 pl-0 pr-0">
                    <div class="img-login w-100 mx-auto">

                    </div>
                </div>
                <div class="col-12 col-md-6 pl-0 pr-0 d-flex">
                    <div class="login-form w-100">
                        <form>
                            <div class="">
                                <h5>Đăng nhập</h5>
                                <div class="row-input text-left w-100 pt-3 pt-xl-5 pb-1 mb-4">
                                    <label for="">Số điện thoại</label>
                                    <br>
                                    <input class="form-input border-0" type="text" [(ngModel)]="vm.username"
                                        name="username" required>
                                    <span class="input-item float-right">
                                        <i class="far fa-envelope"></i>
                                    </span>
                                </div>
                                <div class="row-input text-left w-100 pb-1 mb-4">
                                    <label for="">Mật khẩu</label>
                                    <br>
                                    <input class="form-input border-0" type="password" [(ngModel)]="vm.password"
                                        name="password" required>
                                    <span class="input-item float-right">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <button class="log-in border-0 w-100 mt-4 mt-xl-5" (click)="login()">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>