<div class="user-sidebar" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="with-bg"></div>
  <div>
    <a>
      <img class="circle" src="./assets/images/oval.png" width="100">
    </a>
  </div>
</div>
<div class="" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px">
  <p class="title-hello">Xin chào</p>
  <h2 class="title-name">{{username}}</h2>
</div>
<div class="separator"></div>
<div class="main-title">
  MAIN
</div>

<!-- png -->
<a routerLink="/admin/product-document" routerLinkActive="active" class="rectangle">
  <img class="menu-icon" src="./assets/images/component-icon-ic-dashboard.png" >
  <span class="menu-title">
    Tài liệu - Thông tin SP
  </span>
</a>

<!-- png -->
<mat-accordion multi="true" [displayMode]="displayMode">
  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header class="p-0 pr-3" fxLayout="row" [expandedHeight]="expandHeight"
      [collapsedHeight]="collapseHeight">
      <mat-panel-title>
        <img class="menu-icon" src="./assets/images/component-icon-ic-library.png">
        <span class="menu-title">
          Bài học
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item routerLinkActive="active" class="rectangle">
        <a class="f-14" routerLink="/admin/courses/course">Danh sách khóa học</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" class="rectangle">
        <a class="f-14" routerLink="/admin/courses/lesson">Danh sách bài học</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>


<a class="rectangle" routerLinkActive="active" href="#">
  <img class="menu-icon" src="./assets/images/component-icon-ic-spreadsheets.png">
  <span class="menu-title">
    Kiểm tra
  </span>
</a>
<a class="rectangle" routerLinkActive="active" href="#">
  <img class="menu-icon" src="./assets/images/component-icon-ic-calendar.png">
  <span class="menu-title">
    MCE - Sự kiện
  </span>
</a>
<a class="rectangle" [routerLinkActive]="'active'" href="#">
  <img class="menu-icon" src="./assets/images/component-icon-ic-someone-s-activity.png">
  <span class="menu-title">
    Thông tin cá nhân
  </span>
</a>
