@font-face {
    font-family: 'Quicksand';
    src: url('/assets/font-family/Quicksand/Quicksand-VariableFont_wght.ttf')
  }
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('/assets/font-family/Quicksand/static/Quicksand-Bold.ttf')
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('/assets/font-family/Quicksand/static/Quicksand-Light.ttf')
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('/assets/font-family/Quicksand/static/Quicksand-Medium.ttf')
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('/assets/font-family/Quicksand/static/Quicksand-Regular.ttf')
}

@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url('/assets/font-family/Quicksand/static/Quicksand-SemiBold.ttf')
}

button{
  outline: 0 !important;
}
.btn:focus {
  box-shadow: none !important;
}
input:focus {
  box-shadow: none !important;
}
a:hover {
  text-decoration: none !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100vw !important;
  padding: 0px;
}

mat-sidenav {
  width: 250px;
  ;
}

.no-shadow {
  box-shadow: none !important;
}

.bottom-to-top {
    border-right: 1px solid #E2E2ED;
}

#content {
  background-color: #ffffff;
  height: calc(100vh - 64px);
  padding: 40px 15px;
  overflow: auto;
}

.title-hello {
  font-family: Quicksand-Light;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09px;
  color: #595b60;
  margin-top: 10px;
}

.title-name {
  font-family: Quicksand-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  color: #009fe3;
}
.user-sidebar{
    margin-top: 50px;
}
.ml-91{
  margin-left: 91px !important;
}


.separator {
  width: 100%;
  height: 1px;
  margin: 32px 0 30px;
  background-color: #e2e2ea;
}

.main-title {

  margin: 30px 6px 12px 20px;
  font-family: Quicksand-Light;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #92929d;
}

.rectangle {
  height: 52px;
  padding: 10px 32px 10px 0;
  font-family: Quicksand-Medium;
  display: block;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #171725;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.rectangle.active,
.rectangle:hover {
  background-color: rgba(0, 159, 227, 0.17);
  color: #009fe3;
}
.rectangle.active{
    border-left: 3px solid #009fe3;
}
.rectangle:hover img, .rectangle.active img{
    filter: invert(51%) sepia(91%) saturate(4375%) hue-rotate(173deg) brightness(103%) contrast(101%);
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 20px;
  object-fit: contain;
}

@media screen and (min-width: 320px) {
  #content {
    padding: 40px 15px;
  }
}

@media screen and (min-width: 768px) {
  #content {
    padding: 40px 30px;
  }
}

@media screen and (min-width: 1024px) {
  #content {
    padding: 40px 40px;
  }
}

@media screen and (min-width: 1280px) {
  #content {
    padding: 40px 90px;
  }
}