<h2 class="mb-4">Thêm bài học</h2>
<form class="row" [formGroup]="lessonForm" (ngSubmit)="save()">

<div class="w-100 d-flex justify-content-between mb-3">
  <button type="button" mat-button (click)="goBack()">
    <mat-icon>arrow_back_ios</mat-icon> Quay lại
  </button>
  <button mat-raised-button color="primary" type="submit" [disabled]="lessonForm.invalid">
    <mat-icon>save</mat-icon> Lưu
  </button>
</div>


  <mat-form-field class="col-sm-6">
    <mat-label>Nhà phân phối<mat-label class="text-danger">*</mat-label> </mat-label>
    <mat-select formControlName="distributorId">
      <mat-option *ngFor="let distributor of distributors" [value]="distributor.distributor_id">{{distributor.distributor_name}}</mat-option>
    </mat-select>
    <mat-error>Vui lòng chọn</mat-error>
  </mat-form-field>
  <mat-form-field class="col-sm-6">
    <mat-label>Tên bài học<mat-label class="text-danger">*</mat-label></mat-label>
    <input matInput formControlName="name"/>
  </mat-form-field>
  <div class="col-sm-6">
    <ft-upload-image label="Icon" formControlName="thumbnailId"></ft-upload-image>
  </div>
  <mat-form-field class="col-sm-6">
    <mat-label>Khóa học<mat-label class="text-danger">*</mat-label></mat-label>
    <mat-select formControlName="courseId">
      <mat-option *ngFor="let course of courses" [value]="course.id">
        {{course.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-sm-12 mt-3">
    <mat-label>Giới thiệu</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="col-sm-12">
    <p>Nội dung</p>
    <ft-upload-file class="d-block mb-3" formControlName="content"></ft-upload-file>
  </div>
</form>
