<mat-progress-bar *ngIf="isProcessing" mode="determinate"></mat-progress-bar>
<div [id]="editorId">
  
</div>

<input type="file" accept="image/*" class="d-none" #inputFile (change)="fileChange($event)"/>