<div class="noti">
  <h1>Thông báo</h1>
  <div class="row">
      <div class="col-12 noti-items">
        <div class="items">
          <p>17/11/2020</p>
          <p class="content-noti">Nội dung thông báo số 1...</p>
        </div>
        <div class="items">
          <p>17/11/2020</p>
          <p class="content-noti">Nội dung thông báo số 2...</p>
        </div>
        <div class="items">
          <p>17/11/2020</p>
          <p class="content-noti">Nội dung thông báo số 3...</p>
        </div>
        <div class="items">
          <p>17/11/2020</p>
          <p class="content-noti">Nội dung thông báo số 4...</p>
        </div>
      </div>
  </div>
</div>
