<div class="lesson">
  <h1>Bài học chỉ định</h1>
  <div class="top-bar d-flex align-items-center justify-content-between mx-auto">
    <div id="search-bar" class="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper w-100 mb-0" id="search-input">
          <input type="text" placeholder="Tìm kiếm bài học …" class="border-0 w-85">
          <i class="fas fa-search" aria-hidden="true"></i>
        </label>
      </div>
    </div>
    <div class="right-bar d-flex align-items-center">
      <a href="" class="btn-filter d-block">
        <img src="./assets/images/filter.png" alt="">
      </a>
      <div class="dropdown">
        <span>Xếp theo:</span>
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tên bài học
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="display-item">
        <a href="">
          <img src="./assets/images/component-icon-ic-kanban.png" alt="">
        </a>
        <a href="">
          <img src="./assets/images/component-icon-ic-list.png" alt="">
        </a>
        <a href="" class="active">
          <img src="./assets/images/component-icon-ic-spreadsheets.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row lesson-items">
    <!-- <div class="col-8 offset-2">
      <h3>1. Quy trình làm việc</h3>
      <div class="text-center mt-4">
        <iframe width="644" height="362" src="https://www.youtube.com/embed/30KI5SuECuc?list=RD30KI5SuECuc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-complete">Hoàn thành</button>

        <button type="button" class="btn btn-practice">Luyện tập</button>
      </div>
    </div> -->
    <div class="col-12">
      <h3 class="text-center mb-32">Luyện tập</h3>
      <div class="practice-item">
        <h5>Câu hỏi 1:</h5>
        <p>The demographic question captures the demographic data from a population set. They are used to identify age, gender, income, race, geographic place of residence, number of children, etc. Demographic data helps you paint a more accurate picture of the group of people. For example:</p>
        <div class="row">
          <div class="col-8 offset-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
              <label class="form-check-label" for="inlineRadio1">Đáp án A</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Đáp án B</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option3">
              <label class="form-check-label" for="inlineRadio1">Đáp án C</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
              <label class="form-check-label" for="inlineRadio2">Đáp án D</label>
            </div>
          </div>
        </div>
      </div>

      <div class="practice-item">
        <h5>Câu hỏi 2:</h5>
        <p>The demographic question captures the demographic data from a population set. They are used to identify age, gender, income, race, geographic place of residence, number of children, etc. Demographic data helps you paint a more accurate picture of the group of people. For example:</p>
        <div class="row">
          <div class="col-8 offset-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Đáp án A</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Đáp án B</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option3" checked>
              <label class="form-check-label" for="inlineRadio1">Đáp án C</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option4">
              <label class="form-check-label" for="inlineRadio2">Đáp án D</label>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-return">Quay lại</button>

        <button type="button" class="btn btn-complete">Hoàn thành</button>
      </div>
    </div>
  </div>
</div>
