<div class="d-flex align-items-center">
    <input type="file" class="d-none" #inputFile (change)="fileChange($event)" />
    <button type="button" mat-raised-button color="primary" (click)="inputFile.click()">
        <mat-icon>cloud_upload</mat-icon> Upload file
    </button>
    <a class="ml-3" *ngIf="fileControl.value" [href]="getMediaById(fileControl.value)" target="_blank"> Xem file</a>
</div>
<mat-progress-bar *ngIf="isProcessing" class="mt-3" mode="indeterminate"></mat-progress-bar>
